<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
</head>
<body>
<nav th:fragment="footer">
  <footer class="footer uk-position-bottom uk-position-fixed uk-position-absolute"
          style="background-color: #454545; color: whitesmoke; z-index: 9999">
    <center>
      <table>
        <tr>
          <td>
            <img style="float: left; left: 4px" src="/images/Logo_CPR.png" height="32" width="32">&nbsp;&nbsp;
          </td>
          <td>
            <img style="float: left; left: 4px" src="/images/Logo_MZ.png" height="32" width="32">
          </td>
          <td>&nbsp;                </td>
          <td>&nbsp;Copyright : &copy; 2024 Wydział Powiadamiania Ratunkowego Śląskiego Urzędu Wojewódzkiego w
            Katowicach.&nbsp;
          </td>
          <td> Zauważyłeś błąd - powiadom o tym <a
                  href="mailto:skaznika@wcpr.slask.eu?subject=Błąd w programie SIOS">autora.</a></td>
          <td>&nbsp;</td>
          <td>
            <img style="float: left; left: 4px" src="/images/NFZ_logo.png" height="32" width="32">
          </td>
          <td>&nbsp;</td>
          <td>
            <img style="float: left; left: 4px" src="/images/Ratownictwo_medyczne.png" height="32" width="32">
          </td>
        </tr>
      </table>
    </center>
  </footer>
</nav>

</body>
</html>