<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!--    <title>Title</title>-->
</head>
<body>
<div class="card">
  <form class="form" style="margin: auto" th:object="${user}" th:action="@{/hospital/admin/changePassword}" method="post">
    <div class="panel panel-default">
      <div class="panel-body">
        <p> Zmieniasz hasło dla użytkownika :</p><p style="font-weight: bold" th:text="*{name}"></p>
<!--        <input th:field="*{userName}">-->
        <div hidden>
          <input th:field="*{id}">
          <input th:field="*{name}">
          <input th:field="*{firstName}">
          <input th:field="*{lastName}">
          <input th:field="*{hospital}">
        </div>
        <br>
        <label for="newPass"> Wprowadź nowe hasło:</label>
        <input id="newPass" name="newPass" th:field="*{password_tmp}" class="form-control">
        <br>
      </div>
      <div class="panel-footer">
<!--        <div class="pull-right">-->
        <button type="button" class="btn btn-danger" formnovalidate onclick="history_back()"><i class="fas fa-close"></i> Anuluj </button>
        <button type="submit" class="btn btn-primary pull-right"><i class="fas fa-save"></i> Zapisz</button>
<!--        </div>-->
      </div>
    </div>
    <input type="text" th:value="${id}" hidden>
  </form>
</div>

</body>
</html>
<script>
  function history_back(){
    window.history.back();
  }
</script>