<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sd="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      th:replace="~{/fragments/layout::layout(~{::.container-fluid})}">
<head>
    <meta charset="UTF-8">
    <!--    <title>Title</title>-->
</head>
<body>
<div class="container-fluid" style="padding-top: 10px">
<!--    <div class="container" id="komunikat" style="padding-bottom: 5px"></div>-->
<!--    <div class="container-fluid d-flex align-items-center justify-content-center"><h3> Powiaty </h3></div>-->
    <div class="container" style="text-align: center;">
        <h3> Powiaty </h3>
    </div>
    <table id="glowna" class="table table-striped table-bordered table-responsive">
        <thead>
        <tr>
            <th>Lp</th>
            <th>Powiat</th>
            <th>Akcje</th>
        </tr>
        </thead>
    </table>
</div>
</body>
</html>
<script type="text/javascript">
    $(document).ready(function (){
        // new DataTable('#glowna');
        let table = $('#glowna').DataTable({
            "bAutoWidth": true,
            "sAjaxSource" : "/api/hospitalCounty/v1",
            "sAjaxDataProp": "",
            "aoColumns": [
                {"mData": "hospitalCountyId"},
                {"mData": "name"},
                {"mData": null,
                sWidth: '80px',
                "render": function (){
                    let a = "";
                    a ='<a href="#"><span style="color: red" class="fa-solid fa-pencil" title="Edycja" id="edit"</a>'+'&nbsp&nbsp'+'<a href="#"><span style="color: orange" class="fa-solid fa-info-circle" title="Szczegóły" id="details"></span></a>';
                    return a;
                }}

            ],
            "columnDefs": [
                {"orderable": false, "targets": 0},
                // {"orderable": false, "targets": 8}
            ],
            "language": {
                "processing": "Przetwarzanie...",
                "search": "Szukaj:",
                "lengthMenu": "Pokaż _MENU_ pozycji",
                "info": "Pozycje od _START_ do _END_ z _TOTAL_ łącznie",
                "infoEmpty": "Pozycji 0 z 0 dostępnych",
                "infoFiltered": "(filtrowanie spośród _MAX_ dostępnych pozycji)",
                "infoPostFix": "",
                "loadingRecords": "Wczytywanie...",
                "zeroRecords": "Nie znaleziono pasujących pozycji",
                "emptyTable": "Nie znaleziono rekordów",
                "paginate": {
                    "first": "Pierwsza",
                    "previous": "Poprzednia",
                    "next": "Następna",
                    "last": "Ostatnia"
                },
                "aria": {
                    "sortAscending": ": aktywuj, by posortować kolumnę rosnąco",
                    "sortDescending": ": aktywuj, by posortować kolumnę malejąco"
                }}
        }).draw();
    })
</script>