<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sd="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html"
      th:replace="~{/fragments/layout::layout(~{::.container-fluid})}">
<head>
    <meta charset="UTF-8">
    <style>
        body{
            padding: 2rem 0rem;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="container-fluid pull-right" style="padding-right: 5px; padding-bottom: 20px">
        <a href="#"style="align-self: end"><button class="btn btn-info" onclick="history_back()"><i class="fa-solid fa-arrows-rotate"></i> Powrót</button> </a>
    </div>
    <br><br>
    <div class="panel panel-info" style="padding-bottom: 50px">
        <div class="panel-heading">Edytuj swoje konto</div>
        <div class="panel-body">
            <form th:action="@{/users/saveAccount}" th:object="${user}" method="post" style="max-width: 600px; margin: 0 auto;">
                <input type="hidden" th:field="*{id}">
                <input th:field="*{userName}">
                <input th:field="*{active}">
<!--                <input th:field="*{passwordChangedTime}">-->
                <input th:field="*{hospital}">
                <div class="m-3>">
                    <div class="form-group row">
                        <label class="col-4 col-form-label"> Imię</label>
                        <div class="col-8">
                            <input type="text" th:field="*{firstName}" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-4 col-form-label"> Nazwisko</label>
                        <div class="col-8">
                            <input type="text" th:field="*{lastName}" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-4 col-form-label"> Adres e-mail</label>
                        <div class="col-8">
                            <input type="text" th:field="*{email}" class="form-control" required>
                        </div>
                    </div>
                    <div class="divider"></div>

                    <div class="form-group row">
                        <label class="col-4 col-form-label"> Hasło</label>
                        <div class="col-8">
                            <input type="text" th:field="*{password_tmp}" class="form-control">
                        </div>
                    </div>
                </div>
                <!--        <div class="form-group row">-->
                <!--            <th:block th:each="role: ${listRoles}">-->
                <!--            <input type="checkbox" th:field="*{roles}" th:text="${role.role}" th:value="*{role.roleId}">-->
                <!--            </th:block>-->
                <!--        </div>-->
                <div class="container-fluid pull-right">
                    <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i>  Aktualizuj</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--    </div>-->
</div>
</body>
</html>
<script>
    function history_back(){
        window.history.back();
    }
</script>

