<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sd="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      th:replace="~{/fragments/layout::layout(~{::.container-fluid})}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="container-fluid" style="padding-top: 300px">
    <div class="container" style="max-width: 500px">
        <h3 class="mb-3">Thymeleaf File Upload example</h3>

        <form
                id="uploadForm"
                method="post"
                th:action="@{/restrict/files/upload}"
                enctype="multipart/form-data">
            <input id="input-file" type="file" name="file" />
            <textarea rows="5" name="fileDescription"></textarea>
            <button class="btn btn-sm btn-outline-success float-right" type="submit">
                Upload
            </button>
        </form>

        <div
                th:if="${message != null}"
                class="alert alert-secondary alert-dismissible fade show text-center"
                role="alert">
            [[${message}]]
            <button type="button" class="close btn-sm" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>
</body>
</html>
