<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!--    <title>Spring MVC Multiple Files Upload Example</title>-->
</head>
<body>
<!--<h2>Spring MVC Multiple Files Upload Example</h2>-->

<div th:if="${msg != null}" th:text="${msg}"></div>

<form name='upload_files' enctype="multipart/form-data"
      th:action="@{/uploadFiles}" method='POST' th:object="${messagesFiles}">
    Wybierz plik: <input type="file" name="files" />
    <br />
    <br />
    <label for="description">Dodaj opis pliku (opcjonalnie)</label>
    <textarea id="description" th:field="*{description}" rows="5" maxlength="12288"></textarea>
    <p id="counter" align="right"></p>
    <br />
    <br />

<button class="btn btn-danger" type="submit"><i class="fa-solid fa-upload"></i> Wgraj</button>
</form>
</body>
</html>
<script type="text/javascript">
    $('#description').keyup(function (){
        let left = 12288 - $(this).val().length;
        if(left < 0) {
            left = 0;
        }
        $('#counter').text('Pozostało do wprowadzenia: ' + left + ' znaków');
    });
</script>