<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sd="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      th:replace="~{/hospital/fragments/layout2::layout(~{::.container-fluid})}">
<head>
    <meta charset="UTF-8">
<style>
    body{
        padding: 2rem 0rem;
    }
</style>
</head>
<body>
<div class="container-fluid">
<table class="table"></table>
</div>
</body>
</html>
<!--<script type="text/javascript">-->
<!--    // <script>-->
<!--        $('#bologna-list a').on('click', function (e) {-->
<!--        e.preventDefault()-->
<!--        $(this).tab('show')-->
<!--    })-->
<!--</script>-->
