<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sd="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      th:replace="~{/hospital/fragments/layout2::layout(~{::.container-fluid})}">
<head>
  <meta charset="UTF-8">
  <style>
    .input-error{
      outline: 1px solid red;
    }
  </style>
</head>
<body>
<div class="container-fluid" style="padding-top: 150px">
  <!--<h3 style="align-content: center"> Szczegóły komunikatu</h3>-->
  <br>
  <div class="card bg-info">
    <div class="card-header" style="text-align: center"><h4>Szczegóły procedury</h4></div>
    <div class="card-body">
      <table class="table table-striped table-bordered" th:object="${hospitalProcedures}">
        <tr>
          <td>&nbsp;&nbsp; Typ procedury</td>
          <td th:text="${hospitalProcedures.hospitalProceduresType.getHospitalProceduresTypeDesc()}" style="font-weight: bold"></td>
        </tr>
        <tr>
          <td>&nbsp;&nbsp; Nazwa procedury</td>
          <td th:text="${hospitalProcedures.name}" style="font-weight: bold"></td>
        </tr>
        <tr>
          <td>&nbsp;&nbsp; Opis procedury</td>
          <td th:text="${hospitalProcedures.description}" style="font-weight: bold"></td>
        </tr>
        <tr>
          <td> Załączniki:</td>
          <td>
            <ol>
              <li th:each="files: ${hospitalProcedures.hospitalProceduresFiles}" >
              <span th:if="${#strings.endsWith(files.fileName.toLowerCase(), '.pdf')}">
                <i class="fas fa-file-pdf" style="color: red"></i>
              </span>
                <span th:if="${#strings.endsWith(files.fileName.toLowerCase(), '.doc') || #strings.endsWith(files.fileName.toLowerCase(), 'docx')}">
                <i class="fas fa-file-word" style="color: blue"></i>
              </span>
                <span th:if="${#strings.endsWith(files.fileName.toLowerCase(), '.txt')}">
                <i class="fas fa-file-text" style="color: red"></i>
              </span>
                <span th:if="${#strings.endsWith(files.fileName.toLowerCase(), '.xlsx') || #strings.endsWith(files.fileName.toLowerCase(), '.xls') || #strings.endsWith(files.fileName.toLowerCase(), '.csv')}">
                <i class="fas fa-file-excel" style="color: green"></i>
              </span>
                <span th:if="${#strings.endsWith(files.fileName.toLowerCase(), '.msg')}">
                <i class="fas fa-file-signature"></i>
              </span>
                <a th:href="@{/downloadProcedures/{filename}(filename=${files.fileName})}" th:text="${files.fileName}" download></a>
              </li>
            </ol>
          </td>
        </tr>
      </table>
    </div>
    <div class="card-footer">
      <div class="pull-right"><button class="btn btn-close" onclick="history_back()"><i class="fas fa-close"></i> Zamknij</button> </div>
    </div>
  </div>
</div>
</body>
</html>
<script type="text/javascript">
  function history_back(){
    window.history.back();
  };
</script>