<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{/hospital/fragments/layout::layout(~{::.container-fluid})}">
<head>
    <meta charset="UTF-8">
    <script th:src="@{/srb/js/bootstrap.bundle.js}"></script>
</head>
<body>
<div class="container-fluid" >
    <!--modal dodanie nowego komunikatu start-->
    <div class="modal fade" id="add_messages">
        <div class="modal-dialog modal-lg" style="width: 80%">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Dodawanie nowego komunikatu <i class="fa-solid fa-exclamation-circle"
                                                                    style="color: blue"></i></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body justify-content-center">
                    <div id="modalAddNewMessagesBody"></div>
<!--                        <div th:replace="addMessages :: addMessages"></div>-->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                        <i class="fas fa-close"></i>&nbsp;
                        Zamknij</button>
                </div>
            </div>
        </div>
    </div>
    <!--modal dodanie nowego komunikatu end-->
    <!--modal dodanie nowego wyłączenia oddziału start-->
    <div class="modal fade" id="add_exclusion">
        <div class="modal-dialog modal-lg" style="width: 80%">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Dodawanie nowego wyłączenia Oddziału <i class="fa-solid fa-exclamation-circle"
                                                                           style="color: blue"></i></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body justify-content-center">
                    <div id="modalAddNewExclusionBody"></div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-close"></i>&nbsp;Zamknij</button>
                </div>
            </div>
        </div>
    </div>
    <!--modal dodanie nowego wyłączenia oddziału end-->
    <!--modal dodanie nowej awarii sprzętu start-->
    <div class="modal fade" id="add_malfunction">
        <div class="modal-dialog modal-lg" style="width: 80%">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Dodawanie awarii sprzętu <i class="fa-solid fa-exclamation-circle"
                                                                                    style="color: blue"></i></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body justify-content-center">
                    <div id="modalAddNewMalfunctionBody"></div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fas fa-close"></i>&nbsp;Zamknij</button>
                </div>
            </div>
        </div>
    </div>
    <!--modal dodanie nowej awarii sprzętu end-->

<!--    panel komunikatów-->
<div class="panel panel-danger">
    <div class="panel-heading"> Komunikaty - TYLKO komunikaty o statusie "AKTYWNY" oraz datą zakończenia większą niż dzień dzisiejszy</div>
    <div class="panel-body">

            <button class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Dodaj nowy komunikat" id="add_new_messages" ><i class="fa-solid fa-plus-circle"></i>&nbsp;&nbsp;Nowy komunikat</button>
    <table id="messages" class="table table-bordered table-striped display" style="width: 100%">
        <thead>
<!--        <button class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Dodaj nowy komunikat"><i class="fa-solid fa-plus-circle"></i></button>-->
        <tr>
            <th style="width: 20px">Lp.</th>
            <th style="width: 80px">Data dodania</th>
            <th style="width: 230px">Termin</th>
<!--            <th>Szpital</th>-->
            <th>Temat</th>
<!--            <th style="width: 50%">Opis</th>-->
<!--            <th>Załączniki</th>-->
            <th style="width: 80px"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="messages, lp: ${messagesList}" class="clicable-row" title="Kliknij ikonę szczegółów, aby zobaczyć więcej informacji">
            <td th:text="${lp.index + 1}"></td>
            <td th:text="${#temporals.format(messages.addDate, 'yyyy-MM-dd')}"></td>
<!--            <td th:text="${messages.startDate}"></td>-->
            <td th:text="'od:  ' + ${#dates.format(messages.startDate, 'yyyy-MM-dd')} + ' do ' + ${#dates.format(messages.endDate, 'yyyy-MM-dd')}" style="font-weight: bold; color: red"></td>
<!--            <td th:text="${#dates.format(messages.endDate, 'yyyy-MM-dd')}"></td>-->
            <td th:text="${messages.title}"></td>
<!--            <td th:text="${messages.content}"></td>-->
<!--            <td>-->
<!--                <ol>-->
<!--                    <li th:each="files: ${messages.messagesFiles}" >-->
<!--              <span th:if="${#strings.endsWith(files.fileName.toLowerCase(), '.pdf')}">-->
<!--                <i class="fas fa-file-pdf" style="color: red"></i>-->
<!--              </span>-->
<!--                        <span th:if="${#strings.endsWith(files.fileName.toLowerCase(), '.doc') || #strings.endsWith(files.fileName.toLowerCase(), 'docx')}">-->
<!--                <i class="fas fa-file-word" style="color: blue"></i>-->
<!--              </span>-->
<!--                        <span th:if="${#strings.endsWith(files.fileName.toLowerCase(), '.txt')}">-->
<!--                <i class="fas fa-file-text" style="color: red"></i>-->
<!--              </span>-->
<!--                        <span th:if="${#strings.endsWith(files.fileName.toLowerCase(), '.xlsx') || #strings.endsWith(files.fileName.toLowerCase(), '.xls') || #strings.endsWith(files.fileName.toLowerCase(), '.csv')}">-->
<!--                <i class="fas fa-file-excel" style="color: green"></i>-->
<!--              </span>-->
<!--                        <span th:if="${#strings.endsWith(files.fileName.toLowerCase(), '.msg')}">-->
<!--                <i class="fas fa-file-signature"></i>-->
<!--              </span>-->
<!--                        <a th:href="@{/downloadAttachment/{filename}(filename=${files.fileName})}" th:text="${files.fileName}" download></a>-->
<!--                                            </li>-->
<!--                </ol>-->
<!--            </td>-->
            <td>
                <a th:href="@{detailsMessage/{id}(id=${messages.messagesId})}" th:title="szczegóły"><i class="fa-solid fa-info-circle"></i></a>
                <a th:if="${messages.hospital.hospitalId == user.hospital.hospitalId}" th:href="@{editMessage/{id}(id=${messages.messagesId})}" th:title="edytuj"><i class="fa-solid fa-pencil" style="color: #2dc26b; padding-left: 10px"></i></a>
                <a th:if="${messages.hospital.hospitalId == user.hospital.hospitalId}" th:href="@{deleteMessage/{id}(id=${messages.messagesId})}" th:title="usuń"><i class="fa-solid fa-trash-alt" style="color: red; padding-left: 10px"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
</div>
<!--    koniec panela komunikatów-->
    <!--    panel awarii-->
<!--    <div class="panel panel-info">-->
<!--        <div class="panel-heading"> Wyłączenia Oddziałów </div>-->
<!--        <div class="panel-body">-->
<!--&lt;!&ndash;            <div>&ndash;&gt;-->
<!--                <button class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Dodaj nowe wyłączenie" id="add_new_exclusion"><i class="fa-solid fa-plus-circle"></i></button>-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            <br>&ndash;&gt;-->
<!--            <table id="exclusion" class="table table-bordered table-striped display" style="width: 100%">-->
<!--                <thead>-->
<!--                <tr>-->
<!--                    <th>Lp.</th>-->
<!--&lt;!&ndash;                    <th>Rodzaj</th>&ndash;&gt;-->
<!--                    <th>Data dodania</th>-->
<!--                    <th>Data obowiązywania</th>-->
<!--                    <th>Temat</th>-->
<!--                    <th>Akcje</th>-->
<!--                </tr>-->
<!--                </thead>-->
<!--            </table>-->
<!--        </div>-->
<!--    </div>-->
    <!--    koniec panela komunikatów o awarii-->
<!--    panel awarii-->
<!--    <div class="panel panel-info">-->
<!--        <div class="panel-heading"> Awarie sprzętu</div>-->
<!--        <div class="panel-body">-->
<!--&lt;!&ndash;            <div>&ndash;&gt;-->
<!--                <button class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Dodaj nową awarię" id="add_new_malfunction"><i class="fa-solid fa-plus-circle"></i></button>-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            <br>&ndash;&gt;-->
<!--            <table id="malfunction" class="table table-bordered table-striped display" style="width: 100%">-->
<!--                <thead>-->
<!--                <tr>-->
<!--                    <th>Lp.</th>-->
<!--                    &lt;!&ndash;                    <th>Rodzaj</th>&ndash;&gt;-->
<!--                    <th>Data dodania</th>-->
<!--                    <th>Data obowiązywania</th>-->
<!--                    <th>Temat</th>-->
<!--                    <th>Akcje</th>-->
<!--                </tr>-->
<!--                </thead>-->
<!--            </table>-->
<!--        </div>-->
<!--    </div>-->
<!--    koniec panela komunikatów o awarii-->
    <!--modal detale komunikatu start-->
    <div class="modal fade" id="details_messages_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Szczegóły komunikatu <i class="fa fa-exclamation-circle"
                                                                    style="color: blue"></i></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body justify-content-center">
                    <div id="modalMessagesDetailsBody"></div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Zamknij</button>
                </div>
            </div>
        </div>
    </div>
    <!--modal detale komunikatu end-->
    <!--modal detale wyłaczenia oddziału start-->
<!--    <div class="modal fade" id="details_exclusion_modal">-->
<!--        <div class="modal-dialog">-->
<!--            <div class="modal-content">-->
<!--                <div class="modal-header">-->
<!--                    <h4 class="modal-title">Szczegóły komunikatu <i class="fa fa-exclamation-circle"-->
<!--                                                                    style="color: blue"></i></h4>-->
<!--                    <button type="button" class="close" data-dismiss="modal">&times;</button>-->
<!--                </div>-->
<!--                <div class="modal-body justify-content-center">-->
<!--                    <div id="modalExclusionDetailsBody"></div>-->

<!--                </div>-->
<!--                <div class="modal-footer">-->
<!--                    <button type="button" class="btn btn-danger" data-dismiss="modal">Zamknij</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <!--modal detale wyłaczenia oddziału end-->
    <!--modal detale awarii sprzętu start-->
<!--    <div class="modal fade" id="details_malfunction_modal">-->
<!--        <div class="modal-dialog">-->
<!--            <div class="modal-content">-->
<!--                <div class="modal-header">-->
<!--                    <h4 class="modal-title">Szczegóły komunikatu <i class="fa fa-exclamation-circle"-->
<!--                                                                    style="color: blue"></i></h4>-->
<!--                    <button type="button" class="close" data-dismiss="modal">&times;</button>-->
<!--                </div>-->
<!--                <div class="modal-body justify-content-center">-->
<!--                    <div id="modalMalfunctionDetailsBody"></div>-->

<!--                </div>-->
<!--                <div class="modal-footer">-->
<!--                    <button type="button" class="btn btn-danger" data-dismiss="modal">Zamknij</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <!--modal detale awarii sprzętu end-->
</div>
</body>
</html>
<script type="text/javascript">
    table = $("#messages").DataTable({
        "bAutoWidth": true,
        "bLengthChange": false,
        "pageLength": 5,
        "ordering": false,
        "sAjaxDataProp": "",

        "language": {
            "processing": "Przetwarzanie...",
            "search": "Szukaj:",
            "lengthMenu": "Pokaż _MENU_ pozycji",
            "info": "Pozycje od _START_ do _END_ z _TOTAL_ łącznie",
            "infoEmpty": "Pozycji 0 z 0 dostępnych",
            "infoFiltered": "(filtrowanie spośród _MAX_ dostępnych pozycji)",
            "infoPostFix": "",
            "loadingRecords": "Wczytywanie...",
            "zeroRecords": "Nie znaleziono pasujących pozycji",
            "emptyTable": "Nie znaleziono rekordów",
            "paginate": {
                "first": "Pierwsza",
                "previous": "Poprzednia",
                "next": "Następna",
                "last": "Ostatnia"
            },
            "aria": {
                "sortAscending": ": aktywuj, by posortować kolumnę rosnąco",
                "sortDescending": ": aktywuj, by posortować kolumnę malejąco"
            }
        }

    });

    $('#add_new_messages').on('click', function (){
        window.location='/hospital/addMessages';
        // $('#add_messages').modal();
        // show_add_messages('/hospital/addMessages');
    });


</script>