<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sd="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      th:replace="~{/hospital/fragments/layout::layout(~{::.container-fluid})}">
<head>
  <meta charset="UTF-8">
  <!--    <title>Title</title>-->
  <style>
    .modal-lg {
      max-width: 100% !important;
    }
  </style>
  <script th:href="@{https://cdn.datatables.net/buttons/1.5.0/js/dataTables.buttons.min.js}"></script>
  <script th:href="@{https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js}"></script>
  <script th:href="@{https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js}"></script>
  <script th:href="@{https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js}"></script>
  <script th:href="@{https://cdn.datatables.net/buttons/1.5.0/js/buttons.html5.min.js}"></script>
</head>
<body>
<div class="container-fluid" >
  <input th:value="${session.mess}" id="mess" hidden>
  <input th:value="${session.tick}" id="tick" hidden>
  <form th:action="@{/api/viewsWkrmHospitalReport/v1}" method="get">
    <input type="text" th:object="${report}" th:field="*{id}" id="id1" hidden>
  </form>
  <!--    <input type="text" th:object="${report}" th:field="*{id}">-->
  <!--    <div sec:authorize="isAuthenticated()" style="padding-bottom: 5px">-->
  <!--        <a href="#" class="btn btn-success"><span class="fa-solid fa-plus-circle"></span> Nowy raport </a>-->
  <!--    </div>-->
  <div class="container" id="komunikat" style="padding-bottom: 5px"></div>
  <h3 style="text-align: center">System Informacji o Szpitalach - SIOS v2.
<!--    <br> Moduł raportu dziennego. Dane na dzień: <span class=""-->
    Dane wygenerowano w dniu:
    &nbsp;&nbsp;<span style="color: #0b5ed7; font-weight: bold" th:text="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"></span>
  </h3>
  <table id="glowna" class="table table-striped table-bordered table-responsive">
    <thead>
    <tr>
      <th>Lp</th>
      <th>Nazwa powiatu</th>
      <th>Nazwa szpitala</th>
      <th>Nazwa oddziału</th>
      <th>Deklarowana ilość łóżek</th>
      <th>Ilość łóżek w rezerwacji</th>
      <th>Stan na godz. 6:00</th>
      <th>Stan na godz. 14:00</th>
      <th>Stan na godz. 22:00</th>
      <th>Zadeklarowanych lekarzy</th>
      <th>Data i czas aktualizacji</th>
      <th>Akcje</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
    <tfoot>
    <tr>
      <th>Lp</th>
      <th>Nazwa powiatu</th>
      <th>Nazwa szpitala</th>
      <th>Nazwa oddziału</th>
      <th>Deklarowana ilość łóżek</th>
      <th>Ilość łóżek w rezerwacji</th>
      <th>Stan na godz. 6:00</th>
      <th>Stan na godz. 14:00</th>
      <th>Stan na godz. 22:00</th>
      <th> Zadeklarowanych lekarzy</th>
      <!--            <th>Ilość łóżek w rezerwacji</th>-->
      <th>Data i czas aktualizacji</th>
      <th>Akcje</th>
    </tr>
    </tfoot>
  </table>
  <br><br>

</div>
</body>
</html>
<script type="text/javascript">

  $(document).ready(function (){

    // new DataTable('#glowna');
    let table = $('#glowna').DataTable({

      "sDom":"<'row'<'col text-center'B>>"+"frtip",

      buttons: [
        {
          extend: 'excel',
          // text: 'Eksport do Excela',
          text: '<i class="fas fa-file-excel"></i>'+'&nbsp;&nbsp;Eksport do Excel',
          className: "btn-success",
          // messageTop: "Raport wygenerowany z systemu SIOS v2 w dniu " + date(),

          // margin: "50px",
          exportOptions: {
            columns: [1,2,3,4,5,6,7,8,9,10]
          }

        },
        {
          extend: 'pdf',
          // footer: true,
          orientation: 'landscape',
          // text: 'Eksport do PDF',
          text: '<i class="fas fa-file-pdf"></i>'+'&nbsp;&nbsp;Eksport do PDF',
          className: "btn-primary",
          exportOptions: {
            columns: [1,2,3,4,5,6,7,8,9,10]
          }
        }
      ],
      "bAutoWidth": true,
      "ajax": {
        "url": "/api/viewsWkrmHospitalReport/v2",
        "contentType": "application/json",
        "type": "GET",
        "data": function (d){
          return $.extend({}, d, {
            id: $('#id1').val()
          })
        }
      },
      // "sAjaxSource" : "/api/viewsWkrmHospitalReport/v1",
      "sAjaxDataProp": "",
      "aoColumns": [
        {"mData": "reportId"},
        {"mData": "powiat"},
        {"mData": "szpital"},
        {"mData": "oddzial"},
        {"mData": "numberOfBeds"},
        {"mData": "numberOfBedsLocked"},
        {"mData":"statea"},
        {"mData": "stateb"},
        {"mData": "statec"},
        {"mData": "doctora"},
        {"mData": "update_date"},
        {"mData": null,
          sWidth: '50px',
          "render": function (){
            let a = "";
            a = a + '<a href="#"><span style="color: orange" class="fa-solid fa-info-circle" title="Szczegóły" id="details"></span></a>';
            a = a + '&nbsp;&nbsp;<a href="#"><span style="color: #0a53be" class="fa-solid fa-address-card" title="Kontakt" id="contact"></span></a>';
            return a;
          }},
      ],
      "order": [
        [1, 'asc'],
        [2, 'asc']
      ],
      "rowGroup": {
        dataSrc: ['powiat', 'szpital']
      },
      "columnDefs": [
        {"orderable": false, "targets": [0,3,4,5,6,7,8,9,10,11]},
        {"targets": 10,
          "render": function (data, type, row, meta){
            let dat = '';
            if(data == null){
              dat = 'brak aktualizacji'
            } else {
              dat = moment(data).local().format('YYYY-MM-DD HH:mm:ss');
            }
            return dat;
          }

        },
        {"visible": false, "targets": [0,1,2]}
      ],

      "fixedHeader": {
        "header": true,
        "footer": true,
        "headerOffset": 5,
        "footerOffset": 12
      },
      "language": {
        "processing": "Przetwarzanie...",
        "search": "Szukaj:",
        "lengthMenu": "Pokaż _MENU_ pozycji",
        "info": "Pozycje od _START_ do _END_ z _TOTAL_ łącznie",
        "infoEmpty": "Pozycji 0 z 0 dostępnych",
        "infoFiltered": "(filtrowanie spośród _MAX_ dostępnych pozycji)",
        "infoPostFix": "",
        "loadingRecords": "Wczytywanie...",
        "zeroRecords": "Nie znaleziono pasujących pozycji",
        "emptyTable": "Nie znaleziono rekordów",
        "paginate": {
          "first": "Pierwsza",
          "previous": "Poprzednia",
          "next": "Następna",
          "last": "Ostatnia"
        },
        "aria": {
          "sortAscending": ": aktywuj, by posortować kolumnę rosnąco",
          "sortDescending": ": aktywuj, by posortować kolumnę malejąco"
        }}
    }).draw();

  });

</script>