<!DOCTYPE html>
<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
<title>System Informacji o Szpitalach v2.0</title>
<link rel="icon" type="image/x-icon" href="/images/icon.png">
<link rel="stylesheet" href="/srb/css/bootstrap.min.css" th:href="@{/srb/css/bootstrap.min.css}">
<link rel="stylesheet" href="/srb/css/bootstrap.css" th:href="@{/srb/css/bootstrap.css}">
<link rel="stylesheet" href="/srb/css/bootstrap-datepicker.css" th:href="@{/srb/css/bootstrap-datepicker.css}">
<link rel="stylesheet" href="/webjars/font-awesome/6.5.1/css/all.css" th:href="@{/webjars/font-awesome/6.5.1/css/all.css}">
<link rel="stylesheet" href="/srb/css/toastr.min.css" th:href="@{/srb/css/toastr.min.css}">
<link rel="stylesheet" href="/srb/css/select2.css" th:href="@{/srb/css/select2.css}">
<script th:src="@{/srb/js/jquery-3.6.0.js}"></script>
<script th:src="@{/srb/js/bootstrap.js}"></script>
<script th:src="@{/srb/js/typehead.js}"></script>
<!--<script th:src="@{/srb/js/i18n/pl.js}"></script>-->
<script th:src="@{/srb/js/bootstrap-datepicker.js}"></script>
<script th:src="@{/srb/js/i18n/bootstrap-datepicker.pl.min.js}"></script>
<script th:src="@{/srb/js/moment.js}"></script>
<script th:src="@{/srb/js/select2.js}"></script>
<!--    	<script th:src="@{/js/fontawesome.js}"></script>-->
<script th:src="@{/srb/js/toastr.min.js}"></script>
<script th:src="@{/srb/js/sweetalert.min.js}"></script>
<script src="/webjars/font-awesome/6.5.1/js/fontawesome.min.js" th:src="@{/webjars/font-awesome/6.5.1/js/fontawesome.min.js}"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>-->
<head>
  <head>
  </head>
<body>
<div class="container" style="padding-top: 50px">
  <div class="container-fluid pull-right" style="padding-right: 5px; padding-bottom: 20px">
    <a href="#"style="align-self: end"><button class="btn btn-info" onclick="history_back()"><i class="fa-solid fa-arrows-rotate"></i> Powrót</button> </a>
  </div>
  <br><br>
  <div class="panel panel-success">
    <div class="panel-heading"> Nowa awaria</div>
    <div class="panel-body">
      <form th:object="${hospitalFailures}" th:action="@{/saveHospitalFailures}" method="post" enctype="multipart/form-data">
        <input th:field="*{hospitalFailuresId}" hidden>
        <!--        <h3 style="text-align: center"> Nowy komunikat</h3>-->
        <table class="table table-striped table-bordered">
          <tr>
            <td>
              <b> Data od:</b>
              <br>
              <small> w formacie : rrrr-mm-dd</small>
            </td>
            <td>
              <div>
                <div class="input-group date" id="nameDataOd">
                  <input class="form-inline form-control" data-provide="datepicker" type="text" id="dataOd" th:field="*{dStart}" required>
                  <!--                   <div class="input-group-append">-->
                  <label class="input-group-btn" for="dataOd">
                    <span class="btn btn-default"><i class="fa-solid fa-calendar"></i></span>
                  </label>

                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <b> Data usunięcia awarii:</b>
              <br>
              <small> Jeśli nieznane - zostaw puste</small>
            </td>
            <td>
              <div>
                <div class="input-group date" id="nameDataDo">
                  <input class="form-inline form-control" data-provide="datepicker" type="text" id="dataDo" th:field="*{dEnd}">
                  <!--                   <div class="input-group-append">-->
                  <label class="input-group-btn" for="dataDo">
                    <span class="btn btn-default"><i class="fa-solid fa-calendar"></i></span>
                  </label>

                </div>
              </div>
            </td>
          </tr>
          <!--                    <tr>-->
          <!--                        <td>-->
          <!--                            <b> Tytuł/nazwa:</b>-->
          <!--                        </td>-->
          <!--                        <td><input class="form-control" th:field="*{title}" required></td>-->
          <!--                    </tr>-->
          <tr>
            <td>Opis awarii</td>
            <td><textarea class="form-control" th:field="*{description}" rows="5" style="resize: none" maxlength="4096" id="textDesc"></textarea>
              <div id="textarea_feedback"></div>
            </td>
          </tr>
          <tr>
            <td>Zabezpieczenie w zakresie</td>
            <td><textarea class="form-control" th:field="*{security}" rows="5" style="resize: none" maxlength="4096" id="textDesc1"></textarea>
              <div id="textarea_feedback1"></div>
            </td>
          </tr>
          <!--                    <tr>-->
          <!--                        <td>Zaznacz, jeśli Wojewoda wyraził zgodę</td>-->
          <!--                        <td><input type="checkbox"></td>-->
          <!--                    </tr>-->
          <tr>
            <td>Oddział, którego dotyczy awaria <small style="color: #0d6efd"> (Wybierz wartość ze słownika)</small></td>
            <td><select class="form-control" id="hospitalConfig" style="width: 100%" data-placeholder="Wybierz..." required>
              <option value="" selected>select</option>
            </select>
              <input  id="hospitalConfigId" th:field="*{hospitalConfig}" required hidden></td>
          </tr>
          <tr>
            <td><b>Dołącz pliki</b><br><small> * pole nieobowiązkowe</small></td>
            <td colspan="2">
              <label for="files"> Załączniki</label>
              <input type="file" id="files" name="files" multiple class="form-control" onchange="updateFileList()">
              <input type="text" th:field="*{attachment}" value="false" id="attachment">
              <!--                            <div th:if="${errorMessage}" class="alert alert-danger" role="alert">-->
              <!--                                <p style="color: red; font-weight: bold" th:text="${errorMessage}"></p>-->
              <!--                            </div>-->
              <!--                            <p th:if="${errorMessage}" style="color: red; font-weight: bold">Plik/pliki o takiej nazwie istnieją już w bazie. Zmień nazwę pliku/plików</p>-->
              <label for="fileList">Dodane pliki:</label>
              <ul id="fileList" class="mt-2"></ul>
            </td>
          </tr>

        </table>
        <!--        <input  id="procedureTypeId" th:field="*{hospitalProceduresType.hospitalProceduresTypeId}" hidden></td>-->
        <div class="container-fluid pull-right">
          <button type="button" class="btn btn-close" onclick="history_back()" formnovalidate><i class="fas fa-close"></i> Zamknij</button>
          &nbsp;&nbsp;
          <button class="btn btn-success float-end" type="submit" id="submit"><i class="fa-solid fa-save"></i> Zapisz</button>
        </div>
      </form>
    </div>

  </div>

</div>
<script th:if = "${error}">
  swal('Błąd', 'Plik/pliki o takiej nazwie już istnieją.', 'error');
</script>
</body>
</html>
<script>
  $(document).ready(function (){
    $('#hospitalConfig').select2({
      allowClear: true,
      minimumInputLength: 1
      // placeholder: "Wybierz z listy",
      // placeholder: {
      //     id: '-1',
      //     text: '...',
      //     selected: 'selected'
      // },
      // allowClear: true-->
    });
    $.ajax({
      url: '/api/hospitalConfig/search/v3',
      method: 'GET',
      dataType: 'json',
      success: function (data){
        let options = [];
        $.each(data, function(index, item){
          options.push({
            id:item.hospitalConfigId,
            text: item.name
          });
        });
        $('#hospitalConfig').select2({
          data: options
        });
        // data.unshift({id: -1, text: '', selected: 'selected', search: '', hidden: true});
      },
      error: function (xhr, status, error){
        console.log('Wystąpił błąd podczas pobierania danych: ', error);
      }
    });
  });
  $("#hospitalConfig").on('change', function () {
    $("#hospitalConfigId").val($(this).val());
  });
  $(document).ready(function (){
    let text_max = 4096;
    $('#textarea_feedback').html( 'Pozostało : ' + text_max + ' znaków do wprowadzenia z 4096');
    $('#textDesc').keyup(function (){
      let text_length = $('#textDesc').val().length;
      let text_remaining = text_max - text_length;
      $('#textarea_feedback').html( 'Pozostało : ' + text_remaining + ' znaków do wprowadzenia z 4096');
    });
  });
  $(document).ready(function (){
    let text_max = 4096;
    $('#textarea_feedback1').html( 'Pozostało : ' + text_max + ' znaków do wprowadzenia z 4096');
    $('#textDesc1').keyup(function (){
      let text_length = $('#textDesc1').val().length;
      let text_remaining = text_max - text_length;
      $('#textarea_feedback1').html( 'Pozostało : ' + text_remaining + ' znaków do wprowadzenia z 4096');
    });
  });
  function updateFileList(){
    let input = document.getElementById('files');
    let output = document.getElementById('fileList');
    output.innerHTML = '';
    for (let i = 0; i < input.files.length; ++i){
      $('#attachment').val(true);
      let li = document.createElement('li');
      li.textContent = input.files[i].name;
      output.appendChild(li);
    }
  };

  $(function (){
    $('#dataOd').datepicker({
      language: "pl",
      today: true,
      autoclose: true,
      showOtherMonths: true,
      selectOtherMonths: true,
      changeMonth: true,
      changeYear: true,
      format: "yyyy-mm-dd",
      orientation: "bottom auto",
      clearBtn: true,
      todayBtn: true,
      daysOfWeekHighlighted: "6,0",
      todayHighlight: true,
      // setDate: new Date()
    }).datepicker("setDate", "0");
  });
  $(function () {
    $('#dataDo').datepicker({
      language: "pl",
      today: true,
      autoclose: true,
      showOtherMonths: true,
      selectOtherMonths: true,
      changeMonth: true,
      changeYear: true,
      format: "yyyy-mm-dd",
      orientation: "bottom auto",
      clearBtn: true,
      todayBtn: true,
      daysOfWeekHighlighted: "6,0",
      todayHighlight: true,
      // setDate: new Date()
    }).datepicker("setDate", "+3y");
  });
  $(document).ready(function (){
    let text_max = 12288;
    $('#textarea_feedback').html('Możesz wprowadzić jeszcze : ' + text_max + ' znaków ');
    $('#textDesc').keyup(function (){
      let text_length = $('#textDesc').val().length;
      let text_remaining = text_max - text_length;
      $('#textarea_feedback').html( 'Możesz wprowadzić jeszcze : ' + text_remaining + ' znaków');
    });
  });
  function history_back(){
    window.history.back();
  };

</script>