<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--&lt;!&ndash;    <title>Title</title>&ndash;&gt;-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash;<h4> Tutaj będą dane kontaktowe do Kierownictwa Oddziału i szpitala</h4>&ndash;&gt;-->
<!--<div class="card" th:object="${hospitalConfig}" method="GET">-->
<!--    <div class="card-body">-->
<!--        <table class="table table-bordered table-striped">-->
<!--            <tr>-->
<!--                <td>Nazwa placówki:</td>-->
<!--                <td><span style="color: #0c0c0c; font-weight: bold" th:text="*{hospital.name}"></span></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Adres:</td>-->
<!--                <td><span style="color: #0c0c0c; font-weight: bold" th:text="*{hospital.address.postCode} +' '+ *{hospital.address.city} + ', ' + *{hospital.address.street} + ' ' + *{hospital.address.number}"></span></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td colspan="2" style="text-align: center; font-weight: bold">Kontakt do szpitala:</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Telefon</td>-->
<!--               <td ><span style="color: #0c0c0c; font-weight: bold" th:text="*{hospital.phone}"></span></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--               <td> Fax</td>-->
<!--               <td ><span style="color: #0c0c0c; font-weight: bold" th:text="*{hospital.fax}"></span></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Dane kontaktowe - Dyrekcja</td>-->
<!--                <td><span style="color: #0c0c0c; font-weight: bold" th:text="*{managment.managmentDescription}"></span></td>-->
<!--            </tr>-->
<!--            <tr><td colspan="2" style="text-align: center; font-weight: bold"> Dane Oddziału</td></tr>-->
<!--            <tr>-->
<!--                <td>Nazwa Oddziału</td>-->
<!--                <td ><span style="color: #0c0c0c; font-weight: bold" th:text="*{branch.name}"></span></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td colspan="2" style="text-align: center; font-weight: bold">Kontakt - Oddział:</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Telefon</td>-->
<!--                <td ><span style="color: #0c0c0c; font-weight: bold" th:text="*{branch.phone}"></span></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td> Fax</td>-->
<!--                <td ><span style="color: #0c0c0c; font-weight: bold" th:text="*{branch.fax}"></span></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td> Adres e-mail</td>-->
<!--                <td ><span style="color: #0c0c0c; font-weight: bold" th:text="*{branch.email}"></span></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td> Dodatkowe informacje</td>-->
<!--                <td ><span style="color: #0c0c0c; font-weight: bold" th:text="*{branch.branchDescription}"></span></td>-->
<!--            </tr>-->
<!--        </table>-->
<!--&lt;!&ndash;        <div><br><br></div>&ndash;&gt;-->
<!--&lt;!&ndash;        <br><br>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="pull-right">&ndash;&gt;-->
<!--&lt;!&ndash;            <button class="btn btn-danger"><i class="fa-solid fa-close"></i> Zamknij </button>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <button class="btn btn-danger pull-right"><i class="fa-solid fa-close"></i> Zamknij </button>&ndash;&gt;-->
<!--    </div>-->
<!--&lt;!&ndash;    <div class="pull-right">&ndash;&gt;-->
<!--&lt;!&ndash;        <button class="btn btn-danger"><i class="fa-solid fa-close"></i> Zamknij </button>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sd="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      th:replace="~{/wkrm/fragments/layout::layout(~{::.container-fluid})}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="container-fluid">
    <div class="container">
    <div class="panel panel-info">
        <div class="panel-heading">Dane kontaktowe</div>
        <div class="panel-body">
            <form th:object="${hospitalConfig}">
                <table class="table table-bordered table-striped">
                    <tr>
                        <td>Nazwa placówki:</td>
                        <td><span style="color: #0c0c0c; font-weight: bold" th:text="*{hospital.name}"></span></td>
                    </tr>
                    <tr>
                        <td>Adres:</td>
                        <td><span style="color: #0c0c0c; font-weight: bold" th:text="*{hospital.address.postCode} +' '+ *{hospital.address.city} + ', ' + *{hospital.address.street} + ' ' + *{hospital.address.number}"></span></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center; font-weight: bold">Kontakt do szpitala:</td>
                    </tr>
                    <tr>
                        <td>Telefon</td>
                        <td ><span style="color: #0c0c0c; font-weight: bold" th:text="*{hospital.phone}"></span></td>
                    </tr>
                    <tr>
                        <td> Fax</td>
                        <td ><span style="color: #0c0c0c; font-weight: bold" th:text="*{hospital.fax}"></span></td>
                    </tr>
<!--                    <tr>-->
<!--                        <td>Dane kontaktowe - Dyrekcja</td>-->
<!--                        <td><span style="color: #0c0c0c; font-weight: bold" th:text="*{managment.managmentDescription}"></span></td>-->
<!--                    </tr>-->
                    <tr><td colspan="2" style="text-align: center; font-weight: bold"> Dane Oddziału</td></tr>
                    <tr>
                        <td>Nazwa Oddziału</td>
                        <td ><span style="color: #0c0c0c; font-weight: bold" th:text="*{branch.name}"></span></td>
                    </tr>
<!--                    <tr>-->
<!--                        <td colspan="2" style="text-align: center; font-weight: bold">Kontakt - Oddział:</td>-->
<!--                    </tr>-->
                    <tr>
                        <td>Telefon</td>
                        <td ><span style="color: #0c0c0c; font-weight: bold" th:text="*{branch.phone}"></span></td>
                    </tr>
                    <tr>
                        <td> Fax</td>
                        <td ><span style="color: #0c0c0c; font-weight: bold" th:text="*{branch.fax}"></span></td>
                    </tr>
                    <tr>
                        <td> Adres e-mail</td>
                        <td ><span style="color: #0c0c0c; font-weight: bold" th:text="*{branch.email}"></span></td>
                    </tr>
                    <tr>
                        <td> Dodatkowe informacje</td>
                        <td ><span style="color: #0c0c0c; font-weight: bold" th:text="*{branch.branchDescription}"></span></td>
                    </tr>
                    <th:block th:if="*{managment != null}">
                    <tr>
                        <td colspan="2" style="text-align: center; font-weight: bold"> Dane kontaktowe - Kierownictwo</td>
                    </tr>
                    <tr>
                        <td> Stanowisko, Imię i nazwisko</td>
                        <td ><span style="color: #0c0c0c; font-weight: bold" th:text="*{managment.managmentPerson}"></span></td>
<!--                        <td ><span style="color: #0c0c0c; font-weight: bold" th:text="*{managment.managmentPerson !=null} ? *{managment.managmentPerson} : 'BRAK DANYCH'"></span></td>-->
                    </tr>
                    <tr>
                        <td> Kontaktowe nr telefonów</td>
                        <td ><span style="color: #0c0c0c; font-weight: bold" th:text="*{managment.managmentPhone +' tel. kom. '+managment.managmentMobilePhone}"></span></td>
<!--                        <td ><span style="color: #0c0c0c; font-weight: bold" th:text="*{managment.managmentPhone != null && managment.managmentMobilePhone != null} ? *{managment.managmentPhone +' tel. kom. '+managment.managmentMobilePhone} : 'BRAK DANYCH'"></span></td>-->
                    </tr>
                    </th:block>
                </table>
                <div class="pull-right">
                    <button class="btn btn-success" onclick="history_back()"><i class="fas fa-close"></i> Zamknij</button>
                </div>
            </form>
        </div>
    </div>
    </div>
</div>
</body>
</html>
<script>
    function history_back(){
        window.history.back();
    }
</script>