<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <!--    <title>Title</title>-->
</head>
<body>
<nav th:fragment="navbar3" class="navbar navbar-fixed-top">
  <div class="container-fluid">
  <table>
    <tr class="col-sm-4"></tr>
    <tr class="col-sm-2">
      <td>Raporty</td>
    </tr>
    <tr class="col-sm-2">
      <td>Raport na dziś</td>
    </tr>
    <tr class="col-sm-2">
      <td>Awarie sprzętu</td>
    </tr>
    <tr class="col-sm-2">
      <td>Nieczynne oddziały</td>
    </tr>
    <tr class="col-sm-2">
      <td>Powrót</td>
    </tr>
  </table>
  </div>
</nav>
</body>
</html>
<script type="text/javascript">

</script>