<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
<!--    <title>Title</title>-->
    <script src="/srb/js/hospital_menu.js"></script>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-fixed-top">
  <div class="container-fluid" id="menu_glowne">
      <div class="container-fluid" style="background-color: #2F8D46; padding-top: 5px" onclick="window.location.href='/hospital/index'">
          <table>
              <tr>
                  <td rowspan="3"><img src="/images/ratownictwo_logo.png" width="100" height="100"></td>
              </tr>
              <tr>
                  <td><h1 style="color: whitesmoke">System informacji o szpitalach v2</h1></td>
              </tr>
              <tr>
                  <td><h5 style="color: whitesmoke">Szpital - Oddziały Szpitalne</h5></td>

              </tr>
          </table>
      </div>
      <div class="container-fluid" style="background-color: #4E6CA3; height: 40px">
          <div class="row">
              <div class="col-sm-6">
                  <div class="col-sm-1">
                      <img src="/images/user.png" width="24" height="24" style="padding-top: 7px" onclick="window.location.reload()">
                  </div>
                  <div class="col-sm-3" style="padding-top: 10px; padding-left: 1px">
                      <span style="font-weight: bold">Jesteś zalogowany jako:</span>
                  </div>
                  <div class="col-sm" style="padding-top: 10px; padding-left: 3px">
                      <span style="font-weight: bold; color: #761c19" th:text="${#authentication.getPrincipal().getUsername()}"></span>
                  </div>
              </div>
              <div class="pull-right">

              </div>
              <div class="pull-right" style="padding-top: 3px; padding-left: 5px">
                  <a th:href="@{/logout}">
                  <button class="btn btn-danger"><img src="/images/power-off.svg" style="color: white" width="18px" height="18px"> Wyloguj </button>
                  </a>
              </div>
              <div class="pull-right">
                  <ul class="nav navbar-nav">
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="tree" aria-expanded="false"><span class="fa-solid fa-screwdriver-wrench"></span> Administracja <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                              <li><a href="#"><span class="fa-solid fa-user"></span> Użytkownicy</a></li>
                              <li class="divider"></li>
                              <li><a href="#"><span class="fa-solid fa-mandalorian"></span> Konfiguracja </a> </li>
                          </ul>
                      </li>
                  </ul>
              </div>
              <div class="pull-right" style="padding-top: 3px; padding-left: 5px">
                  <a th:href="@{/restrict/account}">
                      <button class="btn btn-default"><img src="/images/profile.png" style="color: white" width="18px" height="18px"> Twoje konto </button>
                  </a>
              </div>

              <div class="pull-right" style="padding-top: 3px; padding-left: 5px">
                  <a th:href="@{/hospital/testTable}">
                      <button class="btn btn-danger"><img src="/images/power-off.svg" style="color: white" width="18px" height="18px"> Wyloguj </button>
                  </a>
              </div>
              <div class="pull-right" style="padding-top: 5px; padding-right: 25px">
                  <a href="#" class="badge badge-danger" id="messageRead">
                      <div th:block th:if="${session.privateMess > 0}" th:remove="tag">
                      <img src="/images/new.jpg" style="width: 20px; height: 20px">
                  </div>
                      &nbsp;&nbsp;Nieprzeczytane: <span class="badge badge-light" th:text="${session.privateMess}"> 0</span>
                  </a>
              </div>


          </div>

      </div>
      <div class="container-fluid" style="padding-top: 10px; padding-left: 50px; padding-right: 50px">
          <div class="panel panel-success">
              <div class="panel-heading" style="height: 40px">
                  <h4> Moduł danych</h4>
              </div>
              <div class="panel-body">
                  <div class="row">
                <div class="col-sm-2">
                    <button class="btn" style="background-color: #0a53be; height: 50px; width: 270px; color: whitesmoke" onclick="window.location.href='/hospital/allMessages'"><img src="/images/chat.png" width="24px" height="24px">&nbsp;&nbsp;&nbsp; Komunikaty dla szpitali</button>
                </div>

                  <div class="col-sm-2">
                      <button class="btn" style="background-color: #0a53be;height: 50px; width: 270px; color: whitesmoke" onclick="javascript: alert('W trakcie realizacji' +
                       '')"><img src="/images/stetoskope.png" width="24px" height="24px">&nbsp;&nbsp;&nbsp; Raporty dobowy LKRM</button>
                  </div>
<!--                      <div class="col-sm-2">-->
<!--                          <button class="btn" style="background-color: #0a53be;height: 50px; width: 270px; color: whitesmoke"><img src="/images/stetoskope.png" width="24px" height="24px">&nbsp;&nbsp;&nbsp; Raporty własne (archiwalne)</button>-->
<!--                      </div>-->
                      <div class="col-sm-2">
                          <button class="btn" style="background-color: #0a53be;height: 50px; width: 270px; color: whitesmoke" onclick="window.location.href='/hospital/hospitalReports';"><img src="/images/hospital-ico2.png" width="24px" height="24px">&nbsp;&nbsp;&nbsp; Raporty szpitali</button>
                      </div>
                      <div class="col-sm-2">
                          <button class="btn" style="background-color: #0a53be;height: 50px; width: 270px; color: whitesmoke" onclick="window.location.href='/hospital/hospitalProcedures';"><img src="/images/emergency_procedures.png" width="24px" height="24px" >&nbsp;&nbsp;&nbsp; Wskazówki/Zalecenia</button>
                      </div>
<!--                      <div class="col-sm-2">-->
<!--                          <button class="btn" style="background-color: #0a53be;height: 50px; width: 270px; color: whitesmoke"><img src="/images/hospital-ico2.png" width="24px" height="24px" onclick="window.location.href='/hospital/">&nbsp;&nbsp;&nbsp; Raporty szpitali (archiwalne)</button>-->
<!--                      </div>-->
              </div>
                  <div class="row">


                  </div>
              </div>
          </div>
      </div>
<!--      <div class="container-fluid">-->
<!--          <div class="panel panel-default">-->
<!--              <div class="panel-heading"><h4></h4></div>-->
<!--          </div>-->
<!--      </div>-->
  </div>
</nav>
<!--<div class="container">-->
<!-- <div class="modal fade" id="newMessage">-->
<!--     <div class="modal-dialog">-->
<!--         <div class="modal-content">-->
<!--             <div class="modal-header">-->
<!--                 <h4 class="modal-title"> Prywatna wiadomość/komunikat <i class="fa-solid fa-exclamation-circle" style="color: blue"></i></h4>-->
<!--                 <button type="button" class="close" data-dismiss="modal">&times;</button>-->
<!--             </div>-->
<!--             <div class="modal-body">-->
<!--                 <div id="modalNewMessage"></div>-->
<!--             </div>-->
<!--         </div>-->
<!--     </div>-->
<!-- </div>-->
</div>

<!--</script>-->
</body>
</html>
<script type="text/javascript">
 let s1 = document.getElementById('#messageRead');
 s1.addEventListener('click', function (){
     alert("ASBBBBBBBBBBBAAAAAAAAAAA");
 })
</script>
